<app-top-bar></app-top-bar>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p style="font-size:2.5em;" class="display-4 my-3">Together Team</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">Lei DING <a class="badge badge-primary" href="mailto:lding2@scu.edu">lding2@scu.edu</a></li>
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">Yunfan ZHANG <a class="badge badge-success" href="mailto:yzhang20@scu.edu">yzhang20@scu.edu</a></li>
                <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">Qi WANG <a class="badge badge-danger" href="mailto:qwang3@scu.edu">qwang3@scu.edu</a></li>
                <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">Xuan ZHANG <a class="badge badge-warning" href="mailto: xzhang13@scu.edu">xzhang13@scu.edu</a></li>
            </ul>
        </div>
    </div>
</div>