

    .input-group-text, .input-group-append .btn, input{
        font-size: 0.875em;
    }

    .input-group-text{
        color: #888888;
    }

    .input-group-append .btn{
        width: 100%;
    }

