<app-top-bar></app-top-bar>

<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <h4>Upcoming Events</h4>
            <div class="card my-3" *ngFor="let event of events">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center">
                        <img src="{{event.image}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <button type="button" class="btn btn-sm btn-outline-danger mr-2">
                                    {{event.type}} 
                                </button>
                                {{event.title}}
                            </h5>
                            <p class="card-text">{{event.description}}</p>
                            <p class="card-date"><i class="fas fa-user-clock"></i>&nbsp;&nbsp;{{event.time}}</p>
                            <p class="card-view my-0"><a [routerLink]="[event.url]" class="btn btn-danger">View details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12">
            <h4>Completed Events</h4>
            <div class="card completed my-3" *ngFor="let event of completedEvents">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center py-2">
                        <img src="{{event.image}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{event.title}}</h5>
                            <p class="card-text">{{event.description}}</p>
                            <p class="card-text"><small class="text-muted">{{event.date}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>