<section class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" *ngFor="let event of events">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center">
                        <img src="{{event.image}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{event.title}}</h5>
                            <p class="card-date"><i class="fas fa-user-clock"></i>&nbsp;&nbsp;{{event.time}}</p>
                            <p class="card-view my-0"><a [routerLink]="[event.url]" class="btn btn-danger">View details</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>